In [1]:
import tensorflow as tf

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
cd/content/drive/MyDrive/AIAssignment

/content/drive/MyDrive/AIAssignment

In [5]:
ls

 CarPrice_Assignment.csv
'Car Price Prediction assignment.ipynb'
'Concrete Strength Assignment.ipynb'
'Credit Card Fraud Detection assignment.ipynb'
 Flowers_Recognition.ipynb

In [6]:
car_data = pd.read_csv("CarPrice_Assignment.csv")

In [ ]:
car_data

     car_ID  symboling                   CarName  ... citympg highwaympg    price
0         1          3        alfa-romero giulia  ...      21         27  13495.0
1         2          3       alfa-romero stelvio  ...      21         27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3         4          2               audi 100 ls  ...      24         30  13950.0
4         5          2                audi 100ls  ...      18         22  17450.0
..      ...        ...                       ...  ...     ...        ...      ...
200     201         -1           volvo 145e (sw)  ...      23         28  16845.0
201     202         -1               volvo 144ea  ...      19         25  19045.0
202     203         -1               volvo 244dl  ...      18         23  21485.0
203     204         -1                 volvo 246  ...      26         27  22470.0
204     205         -1               volvo 264gl  ...      19         25  22625.0

[205 rows x 26 columns]

In [7]:
car_data.shape

(205, 26)

In [8]:
np.where(car_data.applymap(lambda x:x==""))

(array([], dtype=int64), array([], dtype=int64))

In [9]:
car_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [10]:
car_data.drop(columns=["car_ID","CarName"],inplace=True)

In [11]:
car_data.dtypes

symboling             int64
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
car_data['fueltype'] = labelencoder.fit_transform(car_data['fueltype'])
car_data['aspiration'] = labelencoder.fit_transform(car_data['aspiration'])
car_data['carbody'] = labelencoder.fit_transform(car_data['carbody'])
car_data['drivewheel'] = labelencoder.fit_transform(car_data['drivewheel'])
car_data['enginelocation'] = labelencoder.fit_transform(car_data['enginelocation'])
car_data['fuelsystem'] = labelencoder.fit_transform(car_data['enginelocation'])
car_data["cylindernumber"]=labelencoder.fit_transform(car_data["cylindernumber"])
car_data["enginetype"]=labelencoder.fit_transform(car_data["enginetype"])
car_data['doornumber'] = car_data['doornumber'].map({'two':2,'four':4})

In [13]:
car_data

     symboling  fueltype  aspiration  ...  citympg  highwaympg    price
0            3         1           0  ...       21          27  13495.0
1            3         1           0  ...       21          27  16500.0
2            1         1           0  ...       19          26  16500.0
3            2         1           0  ...       24          30  13950.0
4            2         1           0  ...       18          22  17450.0
..         ...       ...         ...  ...      ...         ...      ...
200         -1         1           0  ...       23          28  16845.0
201         -1         1           1  ...       19          25  19045.0
202         -1         1           0  ...       18          23  21485.0
203         -1         0           1  ...       26          27  22470.0
204         -1         1           1  ...       19          25  22625.0

[205 rows x 24 columns]

In [14]:
car_data.shape

(205, 24)

In [15]:
car_data.describe()

        symboling    fueltype  aspiration  ...     citympg  highwaympg         price
count  205.000000  205.000000  205.000000  ...  205.000000  205.000000    205.000000
mean     0.834146    0.902439    0.180488  ...   25.219512   30.751220  13276.710571
std      1.245307    0.297446    0.385535  ...    6.542142    6.886443   7988.852332
min     -2.000000    0.000000    0.000000  ...   13.000000   16.000000   5118.000000
25%      0.000000    1.000000    0.000000  ...   19.000000   25.000000   7788.000000
50%      1.000000    1.000000    0.000000  ...   24.000000   30.000000  10295.000000
75%      2.000000    1.000000    0.000000  ...   30.000000   34.000000  16503.000000
max      3.000000    1.000000    1.000000  ...   49.000000   54.000000  45400.000000

[8 rows x 24 columns]

In [16]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   fueltype          205 non-null    int64
 2   aspiration        205 non-null    int64
 3   doornumber        205 non-null    int64
 4   carbody           205 non-null    int64
 5   drivewheel        205 non-null    int64
 6   enginelocation    205 non-null    int64
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    int64
 13  cylindernumber    205 non-null    int64
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    int64
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
 23  price             205 non-null    float64
dtypes: float64(8), int64(16)
memory usage: 38.6 KB

In [17]:
np.random.seed(11111)
msk = np.random.rand(len(car_data)) < 0.72
train_total = car_data[msk]
test_total = car_data[~msk]

In [18]:
print(len(train_total))
print(len(test_total))

141
64

In [19]:
train_total.head(10)

    symboling  fueltype  aspiration  ...  citympg  highwaympg      price
1           3         1           0  ...       21          27  16500.000
2           1         1           0  ...       19          26  16500.000
3           2         1           0  ...       24          30  13950.000
4           2         1           0  ...       18          22  17450.000
5           2         1           0  ...       19          25  15250.000
6           1         1           0  ...       19          25  17710.000
7           1         1           0  ...       19          25  18920.000
8           1         1           1  ...       17          20  23875.000
9           0         1           1  ...       16          22  17859.167
11          0         1           0  ...       23          29  16925.000

[10 rows x 24 columns]

In [20]:
train_total.describe()

        symboling    fueltype  aspiration  ...     citympg  highwaympg         price
count  141.000000  141.000000  141.000000  ...  141.000000  141.000000    141.000000
mean     0.893617    0.907801    0.198582  ...   25.113475   30.581560  13379.132390
std      1.228833    0.290337    0.400354  ...    6.509435    6.734937   8189.494568
min     -1.000000    0.000000    0.000000  ...   13.000000   16.000000   5118.000000
25%      0.000000    1.000000    0.000000  ...   19.000000   25.000000   7689.000000
50%      1.000000    1.000000    0.000000  ...   24.000000   30.000000  10245.000000
75%      2.000000    1.000000    0.000000  ...   30.000000   34.000000  16695.000000
max      3.000000    1.000000    1.000000  ...   49.000000   54.000000  45400.000000

[8 rows x 24 columns]

In [21]:
print(train_total.dtypes)

symboling             int64
fueltype              int64
aspiration            int64
doornumber            int64
carbody               int64
drivewheel            int64
enginelocation        int64
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype            int64
cylindernumber        int64
enginesize            int64
fuelsystem            int64
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [22]:
train_label = train_total.loc[:,'price']
test_label = test_total.loc[:,'price']

In [23]:
train_label

1      16500.0
2      16500.0
3      13950.0
4      17450.0
5      15250.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 141, dtype: float64

In [24]:
test_data= test_total.drop(columns = ['price'])
train_data= train_total.drop(columns = ['price'])

In [25]:
train_data.shape

(141, 23)

In [26]:
train_data

     symboling  fueltype  aspiration  ...  peakrpm  citympg  highwaympg
1            3         1           0  ...     5000       21          27
2            1         1           0  ...     5000       19          26
3            2         1           0  ...     5500       24          30
4            2         1           0  ...     5500       18          22
5            2         1           0  ...     5500       19          25
..         ...       ...         ...  ...      ...      ...         ...
200         -1         1           0  ...     5400       23          28
201         -1         1           1  ...     5300       19          25
202         -1         1           0  ...     5500       18          23
203         -1         0           1  ...     4800       26          27
204         -1         1           1  ...     5400       19          25

[141 rows x 23 columns]

In [27]:
{train_data.columns.get_loc(c): c for idx, c in enumerate(train_data.columns)}

{0: 'symboling',
 1: 'fueltype',
 2: 'aspiration',
 3: 'doornumber',
 4: 'carbody',
 5: 'drivewheel',
 6: 'enginelocation',
 7: 'wheelbase',
 8: 'carlength',
 9: 'carwidth',
 10: 'carheight',
 11: 'curbweight',
 12: 'enginetype',
 13: 'cylindernumber',
 14: 'enginesize',
 15: 'fuelsystem',
 16: 'boreratio',
 17: 'stroke',
 18: 'compressionratio',
 19: 'horsepower',
 20: 'peakrpm',
 21: 'citympg',
 22: 'highwaympg'}

In [28]:
mean = train_data.iloc[:,0:13].mean(axis=0) 
train_data.iloc[:,0:13] -= mean
std = train_data.iloc[:,0:13].std(axis=0)
train_data.iloc[:,0:13] /= std
test_data.iloc[:,0:13] -= mean
test_data.iloc[:,0:13] /= std

In [29]:
mean_label = train_label.mean()
train_label -= mean_label
std_label = train_label.std()
train_label /= std_label
test_label -= mean_label
test_label /= std_label

In [30]:
print(mean_label)

13379.132390070921

In [31]:
test_label

0      0.014148
10     0.372534
14     1.365880
15     2.122337
18    -1.004718
         ...
192    0.056886
193   -0.132991
194   -0.053621
196    0.318196
198    0.615529
Name: price, Length: 64, dtype: float64

In [32]:
test = np.array(test_data.iloc[:])

In [33]:
train = np.array(train_data.iloc[:])

In [34]:
test_l= np.array(test_label.astype('float32'))

In [35]:
train_l= np.array(train_label.astype('float32'))

In [36]:
train.shape

(141, 23)

In [37]:
from keras import models
from keras import layers
def build_model(act):
  model = models.Sequential()
  model.add(layers.Dense(10, activation= act,input_shape=(train.shape[1],)))
  model.add(layers.Dense(8, activation= act))
  model.add(layers.Dense(6, activation= act))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [38]:
build_model('relu').summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                240
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 389
Trainable params: 389
Non-trainable params: 0
_________________________________________________________________

In [39]:
build_model('tanh').summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 10)                240
_________________________________________________________________
dense_5 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_6 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 7
=================================================================
Total params: 389
Trainable params: 389
Non-trainable params: 0
_________________________________________________________________

In [40]:
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_relu = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_relu.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [41]:
import numpy as np
k =  4
num_val_samples = len(train) // k
num_epochs = 100
all_scores_tanh = []
for i in range(k):
  print('processing fold #', i)
  val_data = train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_l[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train[:i * num_val_samples],train[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_l[:i * num_val_samples],train_l[(i + 1) * num_val_samples:]],axis=0)
  model = build_model('tanh')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_tanh.append(val_mae)

processing fold # 0
WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_test_function.<locals>.test_function at 0x7f9d23ddff80> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 1
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f9d1ea53c20> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 2
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f9d23d79e60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
processing fold # 3
WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f9d1fb9f200> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [42]:
all_scores_relu

[0.845370352268219, 1.4192464351654053, 0.9414269328117371, 0.5966981053352356]

In [43]:
all_scores_tanh

[0.8300291895866394, 0.9272199273109436, 0.6436780095100403, 0.523655891418457]

In [44]:
model_tanh = build_model('tanh')
model_tanh.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_tanh.evaluate(test, test_l)

WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f9d1d852b00> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
2/2 [==============================] - 0s 10ms/step - loss: 0.8483 - mae: 0.6464

In [45]:
model_relu = build_model('relu')
model_relu.fit(train, train_l,epochs= 80, batch_size=1, verbose=0)
test_mse_score, test_mae_score = model_relu.evaluate(test, test_l)

WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_test_function.<locals>.test_function at 0x7f9d1c68a5f0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
2/2 [==============================] - 0s 5ms/step - loss: 0.8454 - mae: 0.6514

In [46]:
x_tanh = model_tanh.predict(test[5].reshape(1,test.shape[1]))

In [47]:
x_tanh * std_label + mean_label

array([[12554.244]], dtype=float32)

In [48]:
x_relu = model_relu.predict(test[5].reshape(1,test.shape[1]))

In [49]:
x_relu * std_label + mean_label

array([[12823.992]], dtype=float32)